# {{ ansible_managed }}
#
{% if item.1 is defined and item.1|length > 0 %}
{% for key, value in item.1.items() %}
{% if key != 'name' %}
command [{{ value.tag | default(key) }}] = {{ value.command }}
{% endif %}
{% endfor %}
{% endif %}
