# {{ ansible_managed }}
#
# 'check-host-alive' command definition
define command{
    command_name    check-host-alive
    command_line    $USER1$/check_icmp -H $HOSTADDRESS$ -w 3000.0,80% -c 5000.0,100% -p 5
}

### notifications

# 'notify-host-by-email' command definition
define command {
       command_name   notify-host-by-email
       command_line   /usr/bin/printf "%b" "***** Monitoring *****\n\n \
                      Notification Type: $NOTIFICATIONTYPE$\n \
                      Host: $HOSTNAME$\n \
                      State: $HOSTSTATE$\n \
                      Address: $HOSTADDRESS$\n \
                      Info: $HOSTOUTPUT$\n\n \
                      Date/Time: $LONGDATETIME$\n" \
                      | /usr/bin/mailx -s \
                        "** $NOTIFICATIONTYPE$ Host Alert: \
                        $HOSTNAME$ is $HOSTSTATE$ **" \
                        $CONTACTEMAIL$
}

# 'notify-service-by-email' command definition
define command {
       command_name   notify-service-by-email
       command_line   /usr/bin/printf "%b" "***** Monitoring *****\n\n \
                      Notification Type: $NOTIFICATIONTYPE$\n\n \
                      Service: $SERVICEDESC$\n \
                      Host: $HOSTALIAS$\n \
                      Address: $HOSTADDRESS$\n \
                      State: $SERVICESTATE$\n\n \
                      Date/Time: $LONGDATETIME$\n\n \
                      Additional Info:\n\n \
                      $SERVICEOUTPUT$\n" \
                      | /usr/bin/mailx -s \
                        "** $NOTIFICATIONTYPE$ Service Alert: \
                        $HOSTALIAS$/$SERVICEDESC$ is $SERVICESTATE$ **" \
                        $CONTACTEMAIL$
}

{% if item.omd_naemon_commands_hash is defined and item.omd_naemon_commands_hash|length > 0 %}
{% for name, value in item.omd_naemon_commands_hash.iteritems() %}
define command {
        command_name    {{ name | mandatory }}
        command_line    {{ value.line }}
}
{% endfor %}
{% endif %}
