# {{ ansible_managed }}
#
{# CONTACTS #}
{% if item.omd_naemon_contacts_hash is defined and item.omd_naemon_contacts_hash|length > 0 %}
{% for name, value in item.omd_naemon_contacts_hash.iteritems() %}
define contact {
  contact_name                    {{ name | mandatory }}
{% if value.alias is defined and value.alias %}
  alias                           {{ value.alias }}
{% endif %}
{% if value.service_notification_period is defined and value.service_notification_period %}
  service_notification_period     {{ value.service_notification_period }}
{% endif %}
{% if value.host_notification_period is defined and value.host_notification_period %}
  host_notification_period        {{ value.host_notification_period }}
{% endif %}
{% if value.service_notification_options is defined and value.service_notification_options %}
  service_notification_options    {{ value.service_notification_options }}
{% endif %}
{% if value.host_notification_options is defined and value.host_notification_options %}
  host_notification_options       {{ value.host_notification_options }}
{% endif %}
{% if value.service_notification_commands is defined and value.service_notification_commands %}
  service_notification_commands   {{ value.service_notification_commands }}
{% endif %}
{% if value.host_notification_commands is defined and value.host_notification_commands %}
  host_notification_commands      {{ value.host_notification_commands }}
{% endif %}
{% if value.email is defined and value.email %}
  email                           {{ value.email }}
{% endif %}
{% if value.use is defined and value.use %}
  use                             {{ value.use }}
{% endif %}
}
{% endfor %}
{% endif %}

{# CONTACTGROUPS #}
{% if item.omd_naemon_contactgroups_hash is defined and item.omd_naemon_contactgroups_hash|length > 0 %}
{% for name, value in item.omd_naemon_contactgroups_hash.iteritems() %}
define contactgroup {
  contactgroup_name     {{ name | mandatory }}
  alias                 {{ value.alias | default(name) }}
{% if value.members is defined and value.members %}
  members               {{ value.members }}
{% endif %}
}
{% endfor %}
{% endif %}
