# {{ ansible_managed }}
#
{% if item.omd_naemon_hostgroups_hash is defined and item.omd_naemon_hostgroups_hash|length > 0 %}
{% for name, value in item.omd_naemon_hostgroups_hash.iteritems() %}
define hostgroup {
  hostgroup_name  {{ name | mandatory }}
  alias           {{ value.alias | default(name) }}
  members         {{ value.members }}
}

{% endfor %}
{% endif %}
