# {{ ansible_managed }}
#
{% if item.omd_naemon_hosts_hash is defined and item.omd_naemon_hosts_hash|length > 0 %}
{% for key, value in item.omd_naemon_hosts_hash.items() %}
{# how to get hostname #}
{% if value.enable_inventory_hostname is defined and value.enable_inventory_hostname == true %}
{% set hostname_to_use = 'inventory_hostname' %}
{% set hostaddress_to_use = 'inventory_hostname' %}
{% else %}
{% set hostname_to_use = 'ansible_hostname' %}
{% set hostaddress_to_use = 'ansible_fqdn' %}
{% endif %}

{% for hosts in groups[key] %}
define host {
    host_name    {{ hostvars[hosts][hostname_to_use] }}
    address      {{ hostvars[hosts][hostaddress_to_use] }}
{% if value.parents is defined %}
    parents      {{ value.parents }}
{% endif %}
{% if item.omd_naemon_config_templates_hosts_all is defined %}
    use          {{ value.use | default(item.omd_naemon_config_templates_hosts_all) }}
{% else %}
    use          {{ value.use | default(omd_naemon_config_templates_hosts_all) }}
{% endif %}
}

{% endfor %}
{% endfor %}
{% endif %}

{% if item.omd_naemon_hosts_local_hash is defined and item.omd_naemon_hosts_local_hash|length > 0 %}
{% for name, value in item.omd_naemon_hosts_local_hash.items() %}
define host {
    host_name    {{ name }}
    address      {{ value.address | default(name) }}
{% if value.parents is defined %}
    parents      {{ value.parents }}
{% endif %}
{% if item.omd_naemon_config_templates_hosts_all is defined %}
    use          {{ value.use | default(item.omd_naemon_config_templates_hosts_all) }}
{% else %}
    use          {{ value.use | default(omd_naemon_config_templates_hosts_all) }}
{% endif %}
}

{% endfor %}
{% endif %}
