# {{ ansible_managed }}
#
{% if omd_naemon_hosts_hash is defined and omd_naemon_hosts_hash|length > 0 %}
{% for key, value in omd_naemon_hosts_hash.items() %}
{% if value.known_hosts_disable is not defined %}
{% for hosts in groups[key] %}
{{ hostvars[hosts]['ansible_hostname'] }},{{ hostvars[hosts]['ansible_all_ipv4_addresses'] }} ssh-rsa {{ hostvars[hosts]['ansible_ssh_host_key_rsa_public'] }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
