# {{ ansible_managed }}
#
define command {
    command_name host-notify-by-email-html
    command_line /usr/bin/perl $USER1$/notify-by-email.pl \
        --template=$USER4$/etc/mail-templates/notify-by-email.host.html.tpl \
        --mail=/usr/sbin/sendmail \
        -o BASEURL="http://`hostname -f`/$USER3$/" \
        -o NOTIFICATIONTYPE='$NOTIFICATIONTYPE$' \
        -o NOTIFICATIONCOMMENT='$NOTIFICATIONCOMMENT$' \
        -o HOSTNAME='$HOSTNAME$' \
        -o HOSTALIAS='$HOSTALIAS$' \
        -o HOSTSTATE='$HOSTSTATE$' \
        -o CONTACTEMAIL='$CONTACTEMAIL$' \
        -o HOSTADDRESS='$HOSTADDRESS$' \
        -o SHORTDATETIME='$SHORTDATETIME$' \
        -o HOSTOUTPUT='$HOSTOUTPUT$' \
        -o LONGHOSTOUTPUT='$LONGHOSTOUTPUT$' \
        -o HOSTPERFDATA='$HOSTPERFDATA$' \
        -o ACKAUTHOR='$HOSTACKAUTHOR$' \
        -o ACKCOMMENT='$HOSTACKCOMMENT$' \
        -o DURATION='$HOSTDURATION$' \
        -o HOSTEVENTID='$HOSTEVENTID$' \
        -o LASTHOSTEVENTID='$LASTHOSTEVENTID$'
}

define command {
    command_name service-notify-by-email-html
    command_line /usr/bin/perl $USER1$/notify-by-email.pl \
        --template=$USER4$/etc/mail-templates/notify-by-email.service.html.tpl  \
        --mail=/usr/sbin/sendmail \
        -o BASEURL="http://`hostname -f`/$USER3$/" \
        -o NOTIFICATIONTYPE='$NOTIFICATIONTYPE$' \
        -o NOTIFICATIONCOMMENT='$NOTIFICATIONCOMMENT$' \
        -o HOSTNAME='$HOSTNAME$' \
        -o HOSTALIAS='$HOSTALIAS$' \
        -o HOSTSTATE='$HOSTSTATE$' \
        -o CONTACTEMAIL='$CONTACTEMAIL$' \
        -o HOSTADDRESS='$HOSTADDRESS$' \
        -o SHORTDATETIME='$SHORTDATETIME$' \
        -o SERVICEDESC='$SERVICEDESC$' \
        -o SERVICESTATE='$SERVICESTATE$' \
        -o SERVICEOUTPUT='$SERVICEOUTPUT$' \
        -o LONGSERVICEOUTPUT='$LONGSERVICEOUTPUT$' \
        -o SERVICEPERFDATA='$SERVICEPERFDATA$' \
        -o ACKAUTHOR='$SERVICEACKAUTHOR$' \
        -o ACKCOMMENT='$SERVICEACKCOMMENT$' \
        -o DURATION='$SERVICEDURATION$' \
        -o SERVICEEVENTID='$SERVICEEVENTID$' \
        -o LASTSERVICEEVENTID='$LASTSERVICEEVENTID$'
}

{% if item.omd_naemon_notification_commands_hash is defined and item.omd_naemon_notification_commands_hash|length > 0 %}
{% for key, value in item.omd_naemon_notification_commands_hash.items() %}
define command {
    command_name {{ key }}
    command_line {{ value }}
}
{% endfor %}
{% endif %}
