# {{ ansible_managed }}
#
############################################
# OMD settings, please use them to make your config
# portable, but dont change them
$USER1$=/omd/sites/{{ item.name }}/lib/monitoring-plugins
$USER2$=/omd/sites/{{ item.name }}/local/lib/monitoring-plugins
$USER3$={{ item.name }}
$USER4$=/omd/sites/{{ item.name }}
############################################
# set your own macros here:
{% if item.omd_naemon_macros_hash is defined and item.omd_naemon_macros_hash|length > 0 %}
{% for key, value in item.omd_naemon_macros_hash.items() %}
${{ key }}$={{ value }}
{% endfor %}
{% endif %}
