# {{ ansible_managed }}
#
{% if item.omd_naemon_servicegroups_hash is defined and item.omd_naemon_servicegroups_hash|length > 0 %}
{% for name, value in item.omd_naemon_servicegroups_hash.iteritems() %}
define servicegroup {
  servicegroup_name {{ name | mandatory }}
  alias             {{ value.alias | default(name) }}
  members           {{ value.members }}
}

{% endfor %}
{% endif %}
