# {{ ansible_managed }}
#
{% if item.omd_naemon_services_hash is defined and item.omd_naemon_services_hash|length > 0 %}
{% for service, value in item.omd_naemon_services_hash.items() %}

define service {
{% if value.hostgroup_name is defined %}
    hostgroup_name      {{ value.hostgroup_name }}
{% if value.host_name is defined %}
    host_name           {{ value.host_name }}
{% endif %}
{% else %}
    host_name           {{ value.host_name }}
{% endif %}
    service_description {{ service }}
    check_command       {{ value.check_command }}
{% if value.check_interval is defined %}
    check_interval      {{ value.check_interval }}
{% endif %}
{% if value.retry_interval is defined %}
    retry_interval      {{ value.retry_interval }}
{% endif %}
{% if value.check_period is defined %}
    check_period        {{ value.check_period }}
{% endif %}
{% if value.max_check_attempts is defined %}
    max_check_attempts  {{ value.max_check_attempts }}
{% endif %}
{% if value.volatile_enabled is defined %}
    is_volatile         1
{% endif %}
{% if item.omd_naemon_config_templates_services_all is defined %}
    use                 {{ value.use | default(item.omd_naemon_config_templates_services_all) }}
{% else %}
    use                 {{ value.use | default(omd_naemon_config_templates_services_all) }}
{% endif %}
}

{% endfor %}
{% endif %}
