# {{ ansible_managed }}
#
# Generic contact definition template
define contact {
  name                            generic-contact         ; The name of this contact template
  service_notification_period     24x7                    ; service notifications can be sent anytime
  host_notification_period        24x7                    ; host notifications can be sent anytime
  service_notification_options    w,u,c,r,f,s             ; send notifications for all service states, flapping events, and scheduled downtime events
  host_notification_options       d,u,r,f,s               ; send notifications for all host states, flapping events, and scheduled downtime events
  service_notification_commands   service-notify-by-email ; send service notifications via email
  host_notification_commands      host-notify-by-email    ; send host notifications via email
  register                        0                       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL CONTACT, JUST A TEMPLATE!
}

# Generic host definition template
define host {
  name                            generic-host     ; The name of this host template
  notifications_enabled           1                ; Host notifications are enabled
  event_handler_enabled           1                ; Host event handler is enabled
  flap_detection_enabled          1                ; Flap detection is enabled
  process_perf_data               1                ; Process performance data
  retain_status_information       1                ; Retain status information across program restarts
  retain_nonstatus_information    1                ; Retain non-status information across program restarts
  notification_period             24x7             ; Send host notifications at any time
  check_period                    24x7             ; By default, hosts are checked round the clock
  check_interval                  5                ; Actively check the host every 5 minutes
  retry_interval                  1                ; Schedule host check retries at 1 minute intervals
  max_check_attempts              3                ; Check each host 3 times (max)
  check_command                   check-host-alive ; Default command to check Linux hosts
  notification_interval           120              ; Resend notifications every 2 hours
  notification_options            d,u,r            ; Only send notifications for specific host states
  register                        0               ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL HOST, JUST A TEMPLATE!
}

# Generic service definition template
define service {
  name                            generic-service         ; The 'name' of this service template
  active_checks_enabled           1                       ; Active service checks are enabled
  passive_checks_enabled          1                       ; Passive service checks are enabled/accepted
  obsess_over_service             1                       ; We should obsess over this service (if necessary)
  check_freshness                 0                       ; Default is to NOT check service 'freshness'
  notifications_enabled           1                       ; Service notifications are enabled
  event_handler_enabled           1                       ; Service event handler is enabled
  flap_detection_enabled          1                       ; Flap detection is enabled
  process_perf_data               1                       ; Process performance data
  retain_status_information       1                       ; Retain status information across program restarts
  retain_nonstatus_information    1                       ; Retain non-status information across program restarts
  is_volatile                     0                       ; The service is not volatile
  check_period                    24x7                    ; The service can be checked at any time of the day
  max_check_attempts              3                       ; Re-check the service up to 3 times in order to determine its final (hard) state
  normal_check_interval           10                      ; Check the service every 10 minutes under normal conditions
  retry_check_interval            2                       ; Re-check the service every two minutes until a hard state can be determined
  notification_options            w,u,c,r                 ; Send notifications about warning, unknown, critical, and recovery events
  notification_interval           60                      ; Re-notify about service problems every hour
  notification_period             24x7                    ; Notifications can be sent out at any time
  register                        0                       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!
}

{% if item.omd_naemon_templates_hash is defined and item.omd_naemon_templates_hash|length > 0 %}

{# CONTACTS #}

{% if item.omd_naemon_templates_hash['contacts'] is defined and item.omd_naemon_templates_hash['contacts']|length > 0 %}
{% for name, value in item.omd_naemon_templates_hash['contacts'].iteritems() %}
define contact {
  name                            {{ name | mandatory }}
  service_notification_period     {{ value.service_notification_period | default('24x7') }}
  host_notification_period        {{ value.host_notification_period | default('24x7') }}
  service_notification_options    {{ value.service_notification_options | default('w,u,c,r,f,s') }}
  host_notification_options       {{ value.host_notification_options | default('d,u,r,f,s') }}
  service_notification_commands   {{ value.service_notification_commands | default('service-notify-by-email') }}
  host_notification_commands      {{ value.host_notification_commands | default('host-notify-by-email') }}
  register                        {{ value.register | default('0') }}
{% if value.use is defined and value.use %}
  use                             {{ value.use }}
{% endif %}
}
{% endfor %}
{% endif %}

{# HOSTS #}

{% if item.omd_naemon_templates_hash['hosts'] is defined and item.omd_naemon_templates_hash['hosts']|length > 0 %}
{% for name, value in item.omd_naemon_templates_hash['hosts'].iteritems() %}
define host {
  name                          {{ name | mandatory }}
{% if value.notifications_enabled is defined and value.notifications_enabled %}
  notifications_enabled         {{ value.notifications_enabled }}
{% endif %}
{% if value.event_handler_enabled is defined and value.event_handler_enabled %}
  event_handler_enabled         {{ value.event_handler_enabled }}
{% endif %}
{% if value.flap_detection_enabled is defined and value.flap_detection_enabled %}
  flap_detection_enabled        {{ value.flap_detection_enabled }}
{% endif %}
{% if value.process_perf_data is defined and value.process_perf_data %}
  process_perf_data             {{ value.process_perf_data }}
{% endif %}
{% if value.retain_status_information is defined and value.retain_status_information %}
  retain_status_information     {{ value.retain_status_information }}
{% endif %}
{% if value.retain_nonstatus_information is defined and value.retain_nonstatus_information %}
  retain_nonstatus_information  {{ value.retain_nonstatus_information }}
{% endif %}
{% if value.notification_period is defined and value.notification_period %}
  notification_period           {{ value.notification_period }}
{% endif %}
{% if value.check_period is defined and value.check_period %}
  check_period                  {{ value.check_period }}
{% endif %}
{% if value.check_interval is defined and value.check_interval %}
  check_interval                {{ value.check_interval }}
{% endif %}
{% if value.retry_interval is defined and value.retry_interval %}
  retry_interval                {{ value.retry_interval }}
{% endif %}
{% if value.max_check_attempts is defined and value.max_check_attempts %}
  max_check_attempts            {{ value.max_check_attempts }}
{% endif %}
{% if value.check_command is defined and value.check_command %}
  check_command                 {{ value.check_command }}
{% endif %}
{% if value.notification_interval is defined and value.notification_interval %}
  notification_interval         {{ value.notification_interval }}
{% endif %}
{% if value.notification_options is defined and value.notification_options %}
  notification_options          {{ value.notification_options }}
{% endif %}
{% if value.contacts is defined and value.contacts %}
  contacts                      {{ value.contacts }}
{% endif %}
{% if value.contact_groups is defined and value.contact_groups %}
  contact_groups                {{ value.contact_groups }}
{% endif %}
{% if value.use is defined and value.use %}
  use                           {{ value.use }}
{% endif %}
  register                      {{ value.register | default(0) }}
}
{% endfor %}
{% endif %}

{# SERVICES #}

{% if item.omd_naemon_templates_hash['services'] is defined and item.omd_naemon_templates_hash['services'] %}
{% for name, value in item.omd_naemon_templates_hash['services'].iteritems() %}
define service {
  name                            {{ name | mandatory }}
{% if value.active_checks_enabled is defined and value.active_checks_enabled %}
  active_checks_enabled           {{ value.active_checks_enabled | int }}
{% endif %}
{% if value.passive_checks_enabled is defined and value.passive_checks_enabled %}
  passive_checks_enabled          {{ value.passive_checks_enabled | int }}
{% endif %}
{% if value.obsess_over_service is defined and value.obsess_over_service %}
  obsess_over_service             {{ value.obsess_over_service | int }}
{% endif %}
{% if value.check_freshness is defined and value.check_freshness %}
  check_freshness                 {{ value.check_freshness | int }}
{% endif %}
{% if value.notifications_enabled is defined and value.notifications_enabled %}
  notifications_enabled           {{ value.notifications_enabled | int }}
{% endif %}
{% if value.event_handler_enabled is defined and value.event_handler_enabled %}
  event_handler_enabled           {{ value.notifications_enabled | int }}
{% endif %}
{% if value.flap_detection_enabled is defined and value.flap_detection_enabled %}
  flap_detection_enabled          {{ value.flap_detection_enabled | int }}
{% endif %}
{% if value.process_perf_data is defined and value.process_perf_data %}
  process_perf_data               {{ value.process_perf_data | int }}
{% endif %}
{% if value.retain_status_information is defined and value.retain_status_information %}
  retain_status_information       {{ value.retain_status_information | int }}
{% endif %}
{% if value.retain_nonstatus_information is defined and value.retain_nonstatus_information %}
  retain_nonstatus_information    {{ value.retain_nonstatus_information | int }}
{% endif %}
{% if value.is_volatile is defined and value.is_volatile %}
  is_volatile                     {{ value.is_volatile | int }}
{% endif %}
{% if value.check_period is defined and value.check_period %}
  check_period                    {{ value.check_period }}
{% endif %}
{% if value.max_check_attempts is defined and value.max_check_attempts %}
  max_check_attempts              {{ value.max_check_attempts | int }}
{% endif %}
{% if value.check_interval is defined and value.check_interval %}
  check_interval                  {{ value.check_interval | int }}
{% endif %}
{% if value.retry_interval is defined and value.retry_interval %}
  retry_interval                  {{ value.retry_interval | int }}
{% endif %}
{% if value.notification_options is defined and value.notification_options %}
  notification_options            {{ value.notification_options }}
{% endif %}
{% if value.notification_interval is defined and value.notification_interval %}
  notification_interval           {{ value.notification_interval | int }}
{% endif %}
{% if value.notification_period is defined and value.notification_period %}
  notification_period             {{ value.notification_period }}
{% endif %}
{% if value.contacts is defined and value.contacts %}
  contacts                      {{ value.contacts }}
{% endif %}
{% if value.contact_groups is defined and value.contact_groups %}
  contact_groups                {{ value.contact_groups }}
{% endif %}
  register                        {{ value.register | default(0) }}
{% if value.use is defined and value.use %}
  use                             {{ value.use }}
{% endif %}
}
{% endfor %}
{% endif %}

{% endif %}
