# {{ ansible_managed }}
#
# This defines a timeperiod where all times are valid for checks,
# notifications, etc.  The classic "24x7" support nightmare. :-)
define timeperiod{
    timeperiod_name 24x7
    alias           24 Hours A Day, 7 Days A Week
    sunday          00:00-24:00
    monday          00:00-24:00
    tuesday         00:00-24:00
    wednesday       00:00-24:00
    thursday        00:00-24:00
    friday          00:00-24:00
    saturday        00:00-24:00
}

# 'none' timeperiod definition
define timeperiod{
    timeperiod_name  none
    alias            No Time Is A Good Time
}

{% if item.omd_naemon_timeperiods_hash is defined and item.omd_naemon_timeperiods_hash %}
{% for name, value in item.omd_naemon_timeperiods_hash.iteritems() %}
define timeperiod {
    timeperiod_name {{ name | mandatory }}
    alias           {{ value.alias | default(name) }}
{% if value.sunday is defined and value.sunday %}
    sunday          {{ value.sunday }}
{% endif %}
{% if value.monday is defined and value.monday %}
    monday          {{ value.monday }}
{% endif %}
{% if value.tuesday is defined and value.tuesday %}
    tuesday         {{ value.tuesday }}
{% endif %}
{% if value.wednesday is defined and value.wednesday %}
    wednesday       {{ value.wednesday }}
{% endif %}
{% if value.thursday is defined and value.thursday %}
    thursday        {{ value.thursday }}
{% endif %}
{% if value.friday is defined and value.friday %}
    friday          {{ value.friday }}
{% endif %}
{% if value.saturday is defined and value.saturday %}
    saturday        {{ value.saturday }}
{% endif %}
{% if value.exclude is defined and value.exclude %}
    exclude        {{ value.exclude }}
{% endif %}
}

{% endfor %}
{% endif %}
